.bg-purple {
	background-color: rgb(40, 38.4, 56.9);
}

.logo-purple {
	color: #091454;
	font-family: 'Playfair Display SC';
	font-weight: bold;
	font-size: 48px;
	position: fixed;
	left: 154px;
	top: 64;
}

.form-box {
	width: 569px;
	height: 477px;
	background-color: #662C91;
	border-radius: 35px;
	position: fixed;
	top: 232px;
	left: 154px;
}

.text-box {
	width: 486px;
	height: 40px;
	border-radius: 20px;
	margin: 25px;
	position: absolute;
	left: 15px;
	display: block;
}

.bg-beige {
	background-color: #FED99B !important;
}
