
.bg {
	background-color: #FED99B;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	grid-template-columns: repeat(8, 1fr);
	justify-items: start;
	align-items: end;
}

.logo {
	color: #091454;
	font-family: 'Playfair Display SC';
	font-weight: bold;
	font-size: 3rem; 
	grid-area: 1 / 2 / 2 / 4
}

.form-title {
	font-family: 'Inter';
	font-weight: bold;
	font-size: 2rem;
	grid-area: 2 / 2 / 3 / 4
}


.form-box {
	/*
	width: 569px;
	height: 528px;
	*/
	width: 100%;
	height: 100%;
	border-radius: 35px;
	background-color: #662C91;
	grid-area: 3 / 2 / 8 / 5;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(6, 1fr);
	justify-items: start;
	align-items: end;
}

.label{
	font-family: 'Inter';
	font-weight: bold;
	color: white;
	/*margin-left: 30px;*/
}

.text-box{
	/*width: 486px;
	margin-left: 25px;
	height: 40px;*/
	border-radius: 20px;
	display: block;
}

.bg-beige {
	background-color: #FED99B !important;
}

.button {
	font-family: 'Inter';
	font-weight: bold;
	font-size: 25px;
	color: white;
	background-color: #FF3737;
	border-radius: 25px;
	width: 138px;
	height: 55px;
	position: fixed;
	top: 683px;
	left: 360px;
}

.ppl {
	position: fixed; 
	top: 150px;
	left: 154px;
	width: 100px;
	height: 100p;
}
