.bg-purple {
	background-color: rgb(40, 38.4, 56.9);
}

.logo-purple {
	color: #091454;
	font-family: 'Playfair Display SC';
	font-weight: bold;
	font-size: 48px;
}

.form-box {
	width: 569px;
	height: 477px;
	background-color: #662C91;
	border-radius: 35px;
	position: fixed;
	top: 50px;
	left: 30px;
	right: 50px;
}

.text-box {
	width: 486px;
	height: 40px;
	border-radius: 20px;
}
