.logo {
	color: #091454;
	font-family: 'Playfair Display SC';
	font-weight: bold;
	font-size: 48px;
	position: fixed; 
	top: 64px;
	left: 154px;
}

.form-box {
	width: 569px;
	height: 528px;
	background-color: #662C91;
	border-radius: 35px;
	position: fixed;
	top: 232px;
	left: 154px;
}

.text-box{
	width: 486px;
	height: 40px;
	border-radius: 20px;
	display: block;
	margin-left: 25px;
}

.label{
	font-family: 'Inter';
	font-weight: bold;
	color: white;
	margin-left: 30px;
}

.bg-beige {
	background-color: #FED99B !important;
}

.form-title {
	font-family: 'Inter';
	font-weight: bold;
	font-size: 25px;
	position: fixed;
	top: 172px;
	left: 190px;
}

.button {
	font-family: 'Inter';
	font-weight: bold;
	font-size: 25px;
	color: white;
	background-color: #FF3737;
	border-radius: 25px;
	width: 138px;
	height: 55px;
	position: fixed;
	top: 683px;
	left: 360px;
}
