.bg-purple {
	background-color: rgb(40, 38.4, 56.9);
}

.logo-purple {
	color: rgb(3.5, 7.8, 32.9);
	font-family: 'Playfair Display SC';
	font-weight: bold;
	font-size: 48px;
}

.form-box {
	width: 569px;
	height: 477px;
}
