.bg-purple {
	background-color: rgb(40, 38.4, 56.9);
}

.logo {
	color: #091454;
	font-family: 'Playfair Display SC';
	font-weight: bold;
	font-size: 48px;
	margin-left: 154px;
	margin-top: 30px;
}

.form-box {
	width: 569px;
	height: 477px;
	background-color: #662C91;
	border-radius: 35px;
	position: fixed;
	top: 232px;
	left: 154px;
}

.text-box{
	width: 486px;
	height: 40px;
	border-radius: 20px;
	display: block;
	margin-left: 25px;
}

.label{
	font-family: 'Inter';
	font-weight: bold;
	color: white;
	margin-left: 30px;
}

.bg-beige {
	background-color: #FED99B !important;
}

.form-title {
	font-family: 'Inter';
	font-weight: bold;
	font-size: 25px;
	margin-left: 184px;
	position: fixed;
	top: 190px;
}
