@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~inter-ui/inter.css";

.button-hover {
    position: relative;
    display: inline-block;
  }
  
  .button-hover .button-hover-text {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -120px;
    font-size: 12px;
    line-height: 17px;
}
  
  .button-hover .button-hover-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .button-hover:hover .button-hover-text {
    visibility: visible;
  }
