@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~inter-ui/inter.css";

.button-hover {
    position: relative;
    display: inline-block;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .button-hover:hover {
    background-color: #ffffff;
    color: #FF3737;
  }

.text-hover {
  box-shadow: inset 0 0 0 0 #FF3737;
  margin: 0 -.5rem;
  padding: 0 .5rem;
  border-radius: 15px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.text-hover:hover {
  box-shadow: inset 250px 0 0 0 #FF3737;
}
