body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
}
.main {
  background-color: #fed99b;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rounded-rectangle {
  background-color: #662c91;
  max-width: 569px;
  max-height: 477px;
  height: 100%;
  width: "inherit";
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.security {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}
.password {
  color: #ffffff;
}

.savechanges {
  font-size: 17px;
  text-align: center;
  padding: 10px 20px;
  color: #ffffff;
  background: #cf46ff;
  border-radius: 30px;
  border: none;
}
.circle {
  position: relative;
  width: 245px;
  margin-bottom: 20px;
  height: 245px;
  border-radius: 50%;
  background: #d9d9d9;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.upload {
  position: relative;
  width: 106px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer !important;
  padding: 10px 5px;
  color: #000000;
  border: none;
}

.form-container {
  display: flex;
  border-radius: 20px;
  background-color: #662c91;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 569px;
  padding: 20px;
}

input[type="password"] {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 16px;
  color: #000000;
  border: none;
}

.preview {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profilepic {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.upload-input-button {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.label {
  width: "-webkit-fill-available";
  max-width: 288px;
  margin-bottom: 20px;
}
.error {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
